.RedesContent{   /*contenedor principal*/
  background-color: #2429249f;
  backdrop-filter: blur(8px);
  border-radius: 1000px;
  padding: 4px;
  padding-bottom: 15px;
  padding-top: 15px;
  pointer-events: stroke;
}
.RedesContentUl{  /*contenedor ul*/
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.RedesContentUl li a{  /*links*/
  color: #999595;
  border-radius: 1000px;
  padding: 2px;
  transition-duration: .3s;
}
.RedesContentUl li a:hover{  /*links*/
  box-shadow: 0 0 5px 5px #666161;
  transition-duration: .3s;
}





/*colorizacion de iconos*/

.RedesContentUl li:nth-child(1) a{
  color: #0004ff;
}
.RedesContentUl li:nth-child(2) a{
  color: #f00;
}
.RedesContentUl li:nth-child(3) a{
  color: #fff;
}
.RedesContentUl li:nth-child(4) a{
  color: #1d70be;
}