.volver{
  z-index: 8;
  position: fixed;
  background-color: #000;
  top: 85vh;
  left: 65vw;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
.volver a{
  z-index: 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.volver::after{
  content: "";
  position: absolute;
  background-color: #0000007e;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  animation-name: animar;
  animation-duration: .8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}
@keyframes animar{
  0%{
    width: 0;
    height: 0;
  }
  100%{
    width: 150%;
    height: 150%;
  }
}
.volverLink{
  font-size: 1.5em;
}

@media (min-width:750px){
  .volver{
    top: 75%;
    left: 85%;
  }
}