.b_color_content{
  width: 50%;
  height: 45px;
  background-color: red;
}

.image_content{
  width: 100%;
  height: 200px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4vVQmOEYUC3sOv7yVNBohQcHIpL7XFbuuLg&s");
  background-repeat: no-repeat;
}

.size_content{
  width: 100%;
  height: 200px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4vVQmOEYUC3sOv7yVNBohQcHIpL7XFbuuLg&s");
  background-size: contain;
  background-repeat: no-repeat;
}

.repeat_content1{
  width: 100%;
  height: 200px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4vVQmOEYUC3sOv7yVNBohQcHIpL7XFbuuLg&s");
  background-repeat: repeat;
}
.repeat_content2{
  width: 100%;
  height: 200px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4vVQmOEYUC3sOv7yVNBohQcHIpL7XFbuuLg&s");
  background-repeat: no-repeat;
}

.attachment_content1{
  width: 75%;
  height: 200px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4vVQmOEYUC3sOv7yVNBohQcHIpL7XFbuuLg&s");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  background-attachment: fixed;
}
.attachment_content2{
  width: 75%;
  height: 200px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4vVQmOEYUC3sOv7yVNBohQcHIpL7XFbuuLg&s");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  background-attachment: scroll;
}

@media (min-wisth: 750px){
  .image_content{
    width: 75%;
  }
  .size_content{
    width: 75%;
  }
}