.contenedorCap5CssProyBody{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.xtrafondos.com/wallpapers/ciudad-al-atardecer-5052.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  overflow: auto;
}

.contenedorCap5CssProyContentBuscador{
  position: absolute;
  background-color: #fff;
  top: 5%;
  margin-bottom: 35px;
  border-radius: 150px;
  overflow: hidden;
  width: 75%;
  height: 6%;
  max-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000 !important;
}
.contenedorCap5CssProyInput{
  height: 100%;
  border: none;
  outline: none;
  display: block;
  margin: 0 !important;
}
.contenedorCap5CssProyBtn{
  height: 100%;
  margin-top: 0;
  border: none;
  outline: none;
  background-color: #0f0;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
  position: absolute;
  left: 75%;
  padding: 0;
  width: 25%;
  color: #000 !important;

}

.contenedorCap5CssProy{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 75%;
  max-width: 500px;
  background-color: #0000007a;
  backdrop-filter: blur(3px);
  padding: 25px;
  max-height: 500px;
  max-width: 500px;
  overflow: auto;
}
.contenedorCap5CssProy::-webkit-scrollbar{
  display: none;
}
.contenedorCap5CssProy div img{
  display: block;
  margin: auto;
  animation-name: animarImage;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  cursor: pointer;
}
@keyframes animarImage {
  0%{
    width: 65%;
  }
  100%{
    width: 75%;
  }
}
.contenedorCap5CssProy p{
  text-align: center;
  animation-name: parrafoAnimar;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes parrafoAnimar{
  0%{
    color: #2b86ee;
  }
  25%{
    color: #34f183;
  }
  50%{
    color: #7311c4;
  }
  75%{
    color: #fff;
  }
  100%{
    color: #34f183;
  }
}


@media (min-width: 750px){
  .contenedorCap5CssProy{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 45%;
    height: 55%;
    gap: 15px;
  }
  .contenedorCap5CssProyContentBuscador{
    width: 25%;
    top: 5%;
    max-width: 500px;
  }
  .contenedorCap5CssProy div img{
    animation-name: animarImage;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  @keyframes animarImage {
    0%{
      width: 55%;
    }
    100%{
      width: 60%;
    }
  }
}