.website h1 {
  font-size: 5vh;
  color: #000;
  text-align: start;
  margin: auto;
}
.website h2 {
  font-size: 4.5vh;
  color: #000;
  text-align: start;
}
.website h3 {
  font-size: 4.2vh;
  color: #000;
}
.website h4 {
  font-size: 4.1vh;
  color: #000;
}
.website h5 {
  font-size: 3.5vh;
  color: #000;
}
.website h6 {
  font-size: 3vh;
  color: #000;
}