/* esto es el body */
.bodyDark{
  background-color: #000;
  color: #fff;
}

/* esto es el menu */
.MenuDar{
  background-color: #000;
  color: #ffff;
}
.headerBorder{
  background-color: #000;
  color: #ffff;
  border-bottom: 1px solid #191919;
}

/* estos son los links ul li de nav del menu */
.ColorA{
  color: #fff !important;
  transition-duration: .5s;
}
.ColorA:hover{
  transition-duration: .5s;
  border-bottom: 2px solid #fff !important;
}

/* estos son los "a" osea los enlaces */
.allA{
  color: #ad8e8e;
}
.allA:hover{
  text-shadow: 0 0 15px #ad8e8e;
}