.footer_content{
  background-color: #151313;
}
.footer_p{
  color: #1cc990;
  text-shadow: 0 0 3vh #1cc990;
  font-size: .5em;
}
.DanielCC{
  color: #2bfeb7;
  font-size: .8em;
}

@media (min-width: 750px){
  .footer_p{
    font-size: .5em;
  }
  .DanielCC{
    font-size: 1em;
  }
}