/* contenedor principal */

header{  /*contenedor principal*/
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  z-index: 4;
}
.contenedor__menu{ /*contenedor principal del menu*/
  width: 60%;
  padding: 8px;
  background-color: #242924;
  border-radius: 1000px;
  display: flex;
}
.contenedor__menuLinks{  /*contenedor de los links*/
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
.contenedor__menuLinks li{  /*contenedor del link li*/
  padding: 0;
  display: flex;
  align-items: center;
}
.contenedor__menuLinks li a{  /*enlaces que redireccionan*/
  color: #999595;
  border-radius: 1000px;
  padding: 2px;
  transition-duration: .3s;
}
.contenedor__menuLinks li a:hover{
  color: #666161;
  box-shadow: 0 0 5px 5px #666161;
  transition-duration: .3s;
}
.contenedor__menuLinks li button{ /*boton para mostrar las redes*/
  padding: 2px;
  border-radius: 1000px;
  color: #999595 !important;
  background-color: transparent;
  transition-duration: .3s;
}
.contenedor__menuLinks li button:hover{
  color: #666161;
  box-shadow: 0 0 5px 5px #666161;
  transition-duration: .3s;
}


@media(min-width: 750px){
  .contenedor__menu{ /*contenedor principal del menu*/
    width: 150px;
  }
}




/* estilos de las opciones */

.headerOptions{
  position: fixed !important;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 4;
}
.headerOptionsContent{
  position: absolute;
  margin-top: -130px;
  margin-left: 15px;
  transition-duration: .2s;
}
.headerOptionsContentHide{
  margin-left: -39px;
  transition-duration: .2s;
}



/*estilos de las redes sociales*/
.headerRedes{
  position: fixed !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 4;
}
.headerRedesRed{
  position: absolute;
  margin-right: 15px;
  transition-duration: .2s;
}
.headerRedesRedHide{
  transform: translate(150px , 0);
  transition-duration: .2s;
}