/* esto es el header */

.headerMenu{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  min-width: 55px;
  height: 60px;
  z-index: 4;
  color: #fff;
  transition-duration: .5s;
}


/* esto es la imagen del logo */
.imgPcLogo{
  width: 8%;
}


/* esto es el icono */

.iconoMenu{
  cursor: pointer;
  font-size: 1.5em;
}

/* este es el icono de claro y oscuro */

.iconoClOs{
  cursor: pointer;
  position: absolute;
}


/* esto es el nav del menu */

.contenedorLinksMenu{
  position: absolute;
  top: 60px;
  left: -100%;
  background-color: #000;
  width: 100%;
  height: 100vh;
  transition-duration: .5s;
}

/* esto es la animacion que se dara para mostrar o no el menu */

.mostrarMenu{
  left: 0;
  transition-duration: .5s;
}



@media (min-width: 750px){
/* esto es el header */

.headerMenu{
  
}

  /* esto es el icono */

  .iconoMenu{
    display: none;
  }

  /* esto es el nav del menu */

  .contenedorLinksMenu{
    width: 100%;
    visibility: visible;
    position: relative;
    background-color: transparent;
    top: 0;
    left: 0;
    height: auto;
  }


  /* estos son los links del nav */
  
  .links{
    display: flex;
    justify-content: space-around;
  }

}