/* esto es el header */

.headerMenu{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  min-width: 55px;
  width: 100%;
  height: 60px;
  z-index: 4;
  color: #000;
  transition-duration: .5s;
  border-bottom: 1px solid #e9dbdb;
}
.headerDark{
  background-color: #000;
  transition-duration: .5s;
  color: #fff !important;
  border-bottom: 1px solid #252222;

}

/* esto es la imagen del logo */
.imgPcLogo{
  width: 8%;
}


/* esto es el icono */

.iconoMenu{
  cursor: pointer;
  font-size: 1.5em;
}



/* esto es el nav del menu */

.contenedorLinksMenu{
  position: absolute;
  top: 60px;
  left: -100%;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  transition-duration: .5s;
  overflow: auto;
  overflow-x: hidden;
}
.contenedorLinksMenuDark{
  background-color: #000;
}
.contenedorLinksMenu::-webkit-scrollbar{
  display: none;
}


/* estos son los li del ul que estan dentro de nav */

.links{
  list-style: none;
  margin-top: 0px;
  padding-bottom: 50px;
  margin-left: 30px;
  height: 100%;
  overflow: auto;
}
.links::-webkit-scrollbar{
  display: none;
}
.links li{
  padding: 15px;
}
.links li a{
  text-decoration: none;
  color: #000;
  transition-duration: .5s;
}
.linksDark{
  color: #fff !important;
}
.links li a:hover{
  border-bottom: 2px solid #000;
  transition-duration: .5s;
}
.linksDark:hover{
  border-bottom: 2px solid #fff !important;
  transition-duration: .5s;
}

/* estos son los links de redes osea el ul li etc */
.linkMovil{
  list-style: none;
  color: #fff;
}
.linkMovilDark{
  color: #000;
}
.linkPc{
  display: none;
}

/* esto es el div que contiene el logo y el boton para mostrar y ocultar las redes */

.icono-red{
  transform: rotate(-90deg);
  margin-left: 15px;
}
.girar{
  transform: rotate(90deg);
  transition-duration: .5s;
}
.show{
  transform: translate(0,0);
  transition-duration: .5s;
  margin-top: 15px;
  margin-left: -15px;
}
.hide{
  transform: translate(-100vw,0);
  transition-duration: .5s;
}


/* esto es la animacion que se dara para mostrar o no el menu */

.mostrarMenu{
  left: 0;
  transition-duration: .5s;
}

/* este es el div que contiene al aside osea los capitulos */

.capitulosContentMovil{
  position: absolute;
}
.capitulosContentPc{
  display: none;
}




@media (min-width: 750px){
  /* esto es el header */

  .headerMenu{
    height: 60px;
    z-index: 4;
    color: #000;
    transition-duration: .5s;
  }


  /* esto es la imagen del logo */
  .imgPcLogo{
    width: 35px;
  }


  /* esto es el icono */

  .iconoMenu{
    display: none;
  }

  /* este es el icono de claro y oscuro */

  .iconoClOs{
    cursor: pointer;
    position: relative;
  }


  /* esto es el nav del menu */

  .contenedorLinksMenu{
    position: relative;
    top: 0;
    left: 0;
    margin-left: -43%;
    height: 100%;
    transition-duration: .5s;
    align-self: center;
    width: 55%;
  }

  /* estos son los li del ul que estan dentro de nav */

  .links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
  }
  .links li{
    padding: 15px;
  }


  /* estos son los links de redes osea el ul li etc */
  .linkMovil{
    display: none;
  }
  .linkPc{
    display: block;
    list-style: none;
    width: 15%;
    background-color: #fff;
    text-align: center;
    z-index: -2;
  }
  .linkPcCDark{
    background-color: #000;
  }
  .linkPc li{
    padding: 10px;
  }
  .linkPc li a{
    text-decoration: none;
    color: #000;
    transition-duration: .5s;
  }
  .linkPcDark{
    color: #fff !important;
    transition-duration: .5s;
  }
  .linkPc li a:hover{
    border-bottom: 2px solid #000;
    transition-duration: .5s;
  }
  .linkPcDark:hover{
    border-bottom: 2px solid #fff !important;
    transition-duration: .5s;
  }

  /* esto es el div que contiene el logo y el boton para mostrar y ocultar las redes */

  .icono-red{
    transform: rotate(0);
    transition-duration: .5s;
    margin-left: 15px;
  }
  .girar{
    transform: rotate(180deg);
    transition-duration: .5s;
  }
  .show{
    position: absolute;
    transform: translate(20vw,100px);
    transition-duration: .5s;
  }
  .hide{
    position: absolute;
    transform: translate(20vw,-100%);
    transition-duration: .5s;
    
  }


  /* esto es la animacion que se dara para mostrar o no el menu */

  .mostrarMenu{
    left: 0;
    transition-duration: .5s;
  }


  .capitulosContentPc{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}