/* contenedor principal */

header{  /*contenedor principal*/
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  z-index: 4;
}
.contenedor__menu{ /*contenedor principal del menu*/
  width: 60%;
  padding: 8px;
  background-color: #00000081;
  box-shadow: 0 0 15px 2px #ad0000;
  backdrop-filter: blur(8px);
  border-radius: 1000px;
  display: flex;
  font-size: 1.2em;
}
.contenedor__menuLinks{  /*contenedor de los links*/
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
.contenedor__menuLinks li{  /*contenedor del link li*/
  padding: 0;
  display: flex;
  align-items: center;
}
.contenedor__menuLinks li a{  /*enlaces que redireccionan*/
  color: #999595;
  border-radius: 1000px;
  padding: 2px;
  transition-duration: .3s;
  font-size: 1en;
}
.contenedor__menuLinks li a:hover{
  box-shadow: 0 0 5px 5px #6ddd03;
  transition-duration: .3s;
}
.contenedor__menuLinks li button{ /*boton para mostrar las redes*/
  padding: 2px;
  border-radius: 1000px;
  color: #999595 !important;
  background-color: transparent;
  transition-duration: .3s;
  font-size: 1em !important;
}
.contenedor__menuLinks li button p{ /*quitar opaciones*/
  color: #f00 !important;
}
.contenedor__menuLinks li button:hover{
  box-shadow: 0 0 5px 5px #6ddd03;
  transition-duration: .3s;
}


@media(min-width: 750px){
  .contenedor__menu{ /*contenedor principal del menu*/
    width: 180px;
  }
}




/* estilos de las opciones */


.headerOptionsContent{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition-duration: .3s;
  z-index: 5;
  pointer-events: auto;
}
.headerOptionsContentHide{
  top: 0;
  left: -100%;
  transition-duration: 1s;
}



/*estilos de las redes sociales*/
.headerRedes{
  position: fixed !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 5;
}
.headerRedesRed{
  position: absolute;
  margin-right: 15px;
  transition-duration: .2s;
}
.headerRedesRedHide{
  transform: translate(150px , 0);
  transition-duration: .2s;
}






/*colorizacion de iconos*/

.contenedor__menuLinks li:nth-child(1) button svg{
  color: #e9faad;
}
.contenedor__menuLinks li:nth-child(4) button svg{
  color: #2f43fd;
}
.contenedor__menuLinks li:nth-child(2) a{
  color: #0f0;
}
.contenedor__menuLinks li:nth-child(3) a{
  color: #af8181;
}











/*estilos del destello que se mostrara para indicar que menu se selecciono*/

.destelloContent{
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.destelloContent div {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 500px 55px #b80000;
  transition-property: opacity;
  transition-duration: .5s;
}
