/* esto es el header */

.headerMenu{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  min-width: 55px;
  height: 60px;
  z-index: 4;
  color: #000;
  transition-duration: .5s;
  border-bottom: 1px solid #e9dbdb;
}


/* esto es la imagen del logo */
.imgPcLogo{
  width: 8%;
}


/* esto es el icono */

.iconoMenu{
  cursor: pointer;
  font-size: 1.5em;
}

/* este es el icono de claro y oscuro */

.iconoClOs{
  cursor: pointer;
  position: absolute;
}


/* esto es el nav del menu */

.contenedorLinksMenu{
  position: absolute;
  top: 60px;
  left: -100%;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  transition-duration: .5s;
  overflow: auto;

}
.contenedorLinksMenu::-webkit-scrollbar{
  display: none;
}

/* estos son los li del ul que estan dentro de nav */

.links{
  list-style: none;
  margin-left: 30px;
  margin-top: -35px;
  height: 100%;
  overflow: auto;
}
.links::-webkit-scrollbar{
  display: none;
}
.links li{
  padding: 15px;
}
.links li a{
  text-decoration: none;
  color: #000;
  transition-duration: .5s;
}
.links li a:hover{
  border-bottom: 2px solid #000;
  transition-duration: .5s;
}

/* estos son los links de redes osea el ul li etc */
.linkMovil{
  list-style: none;
}
.linkPc{
  display: none;
}

/* esto es el div que contiene el logo y el boton para mostrar y ocultar las redes */

.icono-red{
  transform: rotate(-90deg);
  transition-duration: .5s;
  margin-left: 15px;
}
.girar{
  transform: rotate(90deg);
  transition-duration: .5s;
}
.show{
  transform: translate(0,0);
  transition-duration: .5s;
  margin-top: 15px;
  margin-left: -15px;
}
.hide{
  transform: translate(-100vw,0);
  transition-duration: .5s;
}


/* esto es la animacion que se dara para mostrar o no el menu */

.mostrarMenu{
  left: 0;
  transition-duration: .5s;
}

/* este es el div que contiene al aside osea los capitulos */

.capitulosContentMovil{
  position: absolute;
}
.capitulosContentPc{
  display: none;
}




@media (min-width: 750px){
  /* esto es el header */

  .headerMenu{
    height: 60px;
    z-index: 4;
    color: #000;
    transition-duration: .5s;
  }


  /* esto es la imagen del logo */
  .imgPcLogo{
    width: 35px;
  }


  /* esto es el icono */

  .iconoMenu{
    display: none;
  }

  /* este es el icono de claro y oscuro */

  .iconoClOs{
    cursor: pointer;
    position: relative;
  }


  /* esto es el nav del menu */

  .contenedorLinksMenu{
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    transition-duration: .5s;
    width: 55%;
  }

  /* estos son los li del ul que estan dentro de nav */

  .links{
    display: flex;
    justify-content: space-around;
    margin-top: 0;
  }
  .links li{
    padding: 15px;
  }


  /* estos son los links de redes osea el ul li etc */
  .linkMovil{
    display: none;
  }
  .linkPc{
    display: block;
    list-style: none;
    background-color: inherit;
    width: 15%;
    text-align: center;
    z-index: -2;
  }
  .linkPc li{
    padding: 10px;
  }
  .linkPc li a{
    text-decoration: none;
    color: #000;
  }
  .linkPc li a:hover{
    border-bottom: 2px solid #000;
    transition-duration: .5s;
  }

  /* esto es el div que contiene el logo y el boton para mostrar y ocultar las redes */

  .icono-red{
    transform: rotate(0);
    transition-duration: .5s;
    margin-left: 15px;
  }
  .girar{
    transform: rotate(180deg);
    transition-duration: .5s;
  }
  .show{
    position: absolute;
    transform: translate(20vw,100px);
    transition-duration: .5s;
  }
  .hide{
    position: absolute;
    transform: translate(20vw,-100%);
    transition-duration: .5s;
    
  }


  /* esto es la animacion que se dara para mostrar o no el menu */

  .mostrarMenu{
    left: 0;
    transition-duration: .5s;
  }


  .capitulosContentPc{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}







/* todos los estilos de aqui seran la barrita del costado */

/* esto es el contenedor de la barrita */

.barrita__contentMovil{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111311;
  align-items: center;
  width: 30px;
  height: 100vh;
  z-index: 4;
}
.barrita__contentPc{
  display: none;
}

/* esto es el link */
.iconno{
  color: #fff !important;
  margin-top: 15px;
}

.contentHover{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(45px,16px);
  background-color: #424b42;
  width: 60px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
  transition-duration: .5s;
}
.contentHover{
  color: #fff;
}
.mostrar_opciones{
  opacity: 1;
  visibility: visible;
  transition-duration: .5s;
  z-index: 15;
}

/* este es el texto */
.hoverInicio{
  color: #fff;
}


.cursos{
  top: 30px;
}



@media(min-width: 750px){

  /* esto es el li de la barrita */
  .liBarrita{
    position: absolute;
    visibility: hidden;
  }

  /* esto es el contenedor de la barrita */

  .barrita__contentMovil{
    display: none;
  }
  .barrita__contentPc{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111311;
    align-items: center;
    width: 30px;
    height: 100%;
  }

  /* esto es el link de inicio */
  .iconno{
    margin-top: 15px;
  }

  /* esto es el estilos del hover que aparece cuando se hace hover. */
  
  .contentHover{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(45px,16px);
    background-color: #424b42;
    width: 60px;
    height: 25px;
    opacity: 0;
    transition-duration: .5s;
  }
  .contentHover{
    color: #fff;
  }
  .mostrar_opciones{
    opacity: 1;
    transition-duration: .5s;
  }

  /* este es el texto */
  .hoverInicio{
    color: #fff;
  }
  .cursos{
    top: 30px;
  }
}





/* esto es el aside osea los capitulos */
.capitulosContentMovil{
  position: absolute;
  top: 0;
  left: 30px;
  background-color: #444444;
  width: 90%;
  height: 100%;
  z-index: 0;
  transition-duration: .5s;
  overflow: auto;
}

.hideAside{
  left: -100%;
  transition-duration: .5s;
}


@media(min-width:750px){
  .capitulosContentMovil{
    display: none;
  }
  .capitulosContentPc{
    position: absolute;
    top: 0;
    left: 30px;
    background-color: #444444;
    width: 250px;
    height: 100vh;
    transition-duration: .5s;
    overflow: auto;
  }

  .capitulosContentPc::-webkit-scrollbar{
    display: none;
  }
  .hideAside{
    left: -100%;
  }
}