.noMover{
  overflow: hidden;
}
.mainFilter{
  filter: blur(4px);
}
.contentMensajeVariable{
  background-color: #00000071;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition-duration: .5s;
  filter: blur(0) !important;
  visibility: 1;
}
.contentMensajeVariable p{
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
}
.contentMensajeVariable button{
  display: block;
  margin: auto;
  margin-top: 8%;
  background-color: #3b544c;
  width: 100px;
  color: #fff;
  border-radius: 15vh;
  transition-duration: .5s;
  cursor: pointer;
}
.contentMensajeVariable button:hover{
  background-color: #66b89e;
  color: #000;
  transition-duration: .5s;
}

.ocultarMessage{
  opacity: 0;
  visibility: hidden;
  transition-duration: .5s;
}


.resultadoVariable{
  background-color: transparent;
  border: none;
  outline: none;
  color: #4ae327;
  margin-top: 4vh;
  font-size: 1.5em;
  cursor: pointer;
}
.resultadoVariable:hover{
  text-shadow: 0 0 3vh #4ae327;
}
@media (min-width: 750px){
  .contentMensajeVariable p{
    font-size: 1.3em;
    width: 55vw;
  }
  .contentMensajeVariable :no-button{
    font-size: 1.3em;
  }
}