.noMover{
  overflow: hidden;
}

.contentMensajeVariable{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000a5;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quitarMensaje{
  opacity: 0;
  visibility: 0;
  z-index: -2;
  transition-duration: .5s;
}
.contenedoMensaje{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-color: #fff;
  padding: 15px;
  width: 85%;
  height: 75%;
  font-size: 1.2em;
  color: #000;
}
.textoMensajeModal{
  height: 45%;
  overflow: auto;
  width: 95%;
}
.textoMensajeModal::-webkit-scrollbar{
  background-color: #d3f6ee;
  border-radius: 25px;
  border: 1px solid #83c3b9;
}
.textoMensajeModal::-webkit-scrollbar-thumb{
  background: linear-gradient(0deg,#ffffff,#afa1a1);
  border: 1px solid #7d7474;
  border-radius: 200px;
}
.contenedoMensaje p{
  white-space: pre-wrap;
}
.contenedoMensaje button{
  border-radius: 15vh;
  cursor: pointer;
  background-color: inherit;
  transition-duration: .5s;
}
.contenedoMensaje button:hover{
  background-color: #c6e2fc;
  transition-duration: .5s;
}
.contenedoMensaje::-webkit-scrollbar{
  display: nones ;
}

@media (min-width: 750px){
  .contenedoMensaje{
    width: 30%;
    height: 85%;
    font-size: 1.2em;
    max-height: 800px;
    max-width: 800px;
  }
}