.noMover{
  overflow: hidden;
}

.contentMensajeVariable{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000003a;
  backdrop-filter: blur(4px);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quitarMensaje{
  opacity: 0;
  visibility: 0;
  z-index: -2;
  transition-duration: .5s;
}
.contenedoMensaje{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00000063;
  overflow: auto;
  box-shadow: 0 0 15px -8px #fff;
  padding: 15px;
  width: 80%;
  height: 200px;
  font-size: 1.2em;
  color: #fff;
}
.textoMensajeModal{
  height: 85%;
  overflow: auto;
  width: 95%;
}
.textoMensajeModal::-webkit-scrollbar{
  background-color: #242525;
  border-radius: 25px;
  border: 1px solid #83c3b9;
}
.textoMensajeModal::-webkit-scrollbar-thumb{
  background: linear-gradient(0deg,#575050,#2b2626);
  border: 1px solid #7d7474;
  border-radius: 200px;
}
.contenedoMensaje p{
  white-space: pre-wrap;
}
.contenedoMensaje button{
  border-radius: 15vh;
  cursor: pointer;
  background-color: inherit;
  transition-duration: .5s;
  color: #fff !important;
}
.contenedoMensaje button:hover{
  background-color: #2e3031;
  transition-duration: .5s;
}
.contenedoMensaje::-webkit-scrollbar{
  display: nones ;
}

@media (min-width: 750px){
  .contenedoMensaje{
    width: 550px;
    height: 250px;
    font-size: 1.2em;
    max-height: 800px;
    max-width: 800px;
  }
}