.contenedorCodigoFuente{
  position: fixed;
  z-index: 9;
  top: 0;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
}
.contenedorCodigoFuente__boton{
  display: flex;
  pointer-events: none;
  margin-right: 30px;
  margin-top: 25px;
}

.contenedorCodigoFuente p{
  color: #fff;
  width: 100%;
  order: 1;
  margin-top: 10px;
  margin-right: 8px;
  background-color: #272525;
  text-align: center;
  height: 33px !important;
  padding: 0 8px 0 8px;
}

.contenedorCodigoFuente svg{
  color: #ffffff;
  cursor: pointer;
  background-color: #000;
  padding: 15px;
  border-radius: 100%;
  pointer-events: stroke;
  order: 2;
}


.contenedorCodigoFuente__codigo{
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: stroke;
  display: flex;
  flex-direction: column;
  padding-top: 85px;
  background-color: #545a5465;
}
.mostrarCodigoFuente{
  opacity: 1;
  visibility: visible;
  transition-duration: .5s;
}
.quitarCodigoFuente{
  visibility: hidden;
  opacity: 0;
  transition-duration: .5s;
}
.contenedorCodigoFuente__codigo p{
  background-color: #000 !important;
  position: fixed;
  top: 0;
  height: 65px !important;
  width: 65px;
  border-radius: 100%;
  font-size: 2em;
  cursor: pointer;
  z-index: 5;
}
.contenedorCodigoFuente__codigo p:hover{
  background-color: #2c2f2e !important;
}