.contenedorCodigoFuente{
  position: fixed;
  z-index: 9;
  top: 0;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.contenedorCodigoFuente__boton{
  display: flex;
  pointer-events: none;
  margin-right: 25px;
  margin-bottom: 85px;
}

.contenedorCodigoFuente p{
  color: #fff;
  width: 100%;
  order: 1;
  margin-top: 10px;
  margin-right: 8px;
  background-color: #272525;
  text-align: center;
  height: 33px !important;
  padding: 0 8px 0 8px;
}

.contenedorCodigoFuente svg{
  color: #ffffff;
  cursor: pointer;
  background-color: #000;
  padding: 15px;
  border-radius: 100%;
  pointer-events: stroke;
  order: 2;
  opacity: .3;
  transition-duration: .2s;
}
.contenedorCodigoFuente svg:hover{
  opacity: 1;
  transition-duration: .2s;
}


.contenedorCodigoFuente__codigo{
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: stroke;
  display: flex;
  padding-top: 85px;
  background-color: #0000009c;
  gap: 25px;
  backdrop-filter: blur(15px);
  z-index: 5;
}
.contenedorDelCodigoDiv{
  display: flex;
  width: 95vw !important;
  max-height: 90vh;
  margin-bottom: 100px;
  overflow: auto;
  gap: 15px;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
}
.contenedorDelCodigoDiv::-webkit-scrollbar{
  background-color: #000;
}
.contenedorDelCodigoDiv::-webkit-scrollbar-thumb{
  background-color: #252525;
}
.mostrarCodigoFuente{
  opacity: 1;
  visibility: visible;
  transition-duration: .5s;
}
.quitarCodigoFuente{
  visibility: hidden;
  opacity: 0;
  transition-duration: .5s;
}
.contenedorCodigoFuente__Cerrar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: end;
}
.contenedorCodigoFuente__Cerrar p{
  background-color: #000 !important;
  height: 65px !important;
  width: 65px;
  border-radius: 100%;
  font-size: 2em;
  cursor: pointer;
  margin-right: 25px;
}
.contenedorCodigoFuente__codigo p:hover{
  background-color: #2c2f2e !important;
}

@media(min-width:750px){
  .contenedorDelCodigoDiv{
    width: 650px;
  }
}