.h2_atributos{
  background: linear-gradient(0deg,transparent,#000);
  width: 25vw;
  margin: auto;
  margin-top: 2%;
  border-radius: 15vh;
}
.boton_ejemploHtml{
  background-color: #0f0;
  margin: auto;
}