.mainHome{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  margin: 0 !important;
  background-color: #fff;
  z-index: 4;
}




/* componentes */

/* boton de siguiente */
.HomePresentBtnContent{ /*contenedor del boton*/
  width: 100%;
  display: flex;
  justify-content: end;
}
.HomePresentBtn{ /*boton*/
  padding: 0;
  margin: 0;
  font-size: 1.4em;
  background-color: transparent;
  color: #32e24f !important;
  padding-right: 15px;
  text-shadow: 0px 0px 15px #32e24f;
  display: flex;
  align-items: center;
  pointer-events: auto;
}
.HomePresentBtn svg{
  color: #32e24f !important;
}
.HomePresentBtnGray{
  color: #645252 !important;
  pointer-events: none;
  text-shadow: none;
}
.HomePresentBtnGray svg{
  color: #645252 !important;
}
@media(min-width: 750px){
  .HomePresentBtnContent{ /*contenedor del boton*/
    padding-right: 150px;
  }
  .HomePresentBtn{ /*boton*/
    font-size: 2em;
  }
}



/*incicaciones del tutorial*/
.HomePresentIndicaciones{ /*contnedor de la imagen*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.HomePresentIndicaciones__3Img img{ /*imagen*/
  width: 75%;
}
.HomePresentIndicaciones__3ImgIcons{ /*contenedor de los iconos*/
  display: flex;
  gap: 15px;
}
.HomePresentIndicaciones__3ImgIcons svg{ /*icono del tutorial*/
  padding: 10px;
  border-radius: 1000px;
  font-size: 1.5em;
}
.HomePresentIndicaciones__3ImgIconsGreen svg:nth-child(1){
  background-color: #54cf54;
  box-shadow: 0px 0px 12px 12px #3c993c;
  color: #5c5656;
}
.HomePresentIndicaciones__3ImgIconsGreen svg:nth-child(2){
  background-color: #b41010;
  color: #000;
}
.HomePresentIndicaciones__3ImgIconsRed svg:nth-child(1){
  background-color: #b41010;
  color: #000;
}
.HomePresentIndicaciones__3ImgIconsRed svg:nth-child(2){
  background-color: #54cf54;
  box-shadow: 0px 0px 12px 12px #3c993c;
  color: #5c5656;
}


@media(min-width: 750px){
  .HomePresentIndicaciones__3Img img{ /*imagen*/
    width: 250px;
  }
}






/*presentacion y tutorial*/
.HomePresent{  /*contenedor principal*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; 
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition-duration: .3s;
  z-index: 2;
}
.HomePresent::-webkit-scrollbar{display: none;}
.HomePresentHide{
  opacity: 0;
  visibility: hidden;
  transition-duration: .3s;
}
.HomePresent::-webkit-scrollbar{
  display: none;
}
@media(min-width: 750px){
  .HomePresent{  /*contenedor principal*/
    align-items: center;
    justify-content: center;
  }
}



/*presentacion contenedor principal*/
.HomePresent__1{ /*contenedor principal*/
  position: absolute;
  width: 100vw;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 35px;
  max-height: 1200px;
  max-width: 1300px;
  transition-duration: .3s;
}
.HomePresent__1 h1{ /*titulo*/
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: #32e24f;
}
.HomePresent__1Indo{ /*contenedor de la informacion*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.HomePresent__1Indo p{ /*parrafo*/
  font-size: 1.5em;
  width: 80%;
  color: #32e24f !important;
}
.HomePresent__1IndoImg{ /*contenedor de la imagen*/
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 2px solid #138526;
  position: relative;
  overflow: hidden;
}
.HomePresent__1IndoImg img{ /*imagen */
  position: relative;
  border: 2px solid #f00;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


@media(min-width:750px){
  .HomePresent__1{ /*contenedor principal*/
    align-items: center;
    justify-content: space-around;
    gap: 0;
    /* max-height: 500px; */
  }
  .HomePresent__1 h1{
    font-size: 3em;
  }
  .HomePresent__1Indo{
    flex-direction: row;
    justify-content: center;
  }
  .HomePresent__1Indo p{ /*parrafo*/
    width: 50%;
    font-size: 2em;
  }
  .HomePresent__1IndoImg{ /*contenedor de la imagen*/
    width: 200px;
    height: 200px;
  }
}




/*segunda parte de la presentacion*/
.HomePresent__2{ /*contenedor principal*/
  position: absolute;
  top: 0;
  left: 150%;
  width: 100%;
  height: 100%;
  transition-duration: .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
  gap: 35px;
}
.HomePresent__2 h2{ /*titulo del tutorial*/
  color: #32e24f;
  padding: 0;
  font-size: 2em;
}

.HomePresent__2Info{ /*contenedor de la informacion*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.HomePresent__2Info p{ /*letras del tutorial del menu*/
  color: #32e24f !important;
  font-size: 1.5em;
}
.HomePresent__2Info img{ /*imagen del tutorial del menu*/
  width: 65%;
}


.HomePresent__2InfoBtns{ /*contenedor principal de la informacion de cada boton*/
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 35px;
}

.HomePresent__2InfoBtns__content{ /*contenedor de cada nota*/
  background-color: #1f1b1b;
  padding: 8px;
  width: 90%;
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 10px;
}

.HomePresent__2InfoBtns__content div{ /*informacion*/
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* colorear iconos */
.HomePresent__2InfoBtns_1{
  color: #e9faad;
}
.HomePresent__2InfoBtns_2{
  color: #0f0;
}
.HomePresent__2InfoBtns_3{
  color: #af8181;
}
.HomePresent__2InfoBtns_4{
  color: #2f43fd;
}

.HomePresent__2InfoBtns__content h3{
  color: #def3e2;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}
.HomePresent__2InfoBtns__content p{
  color: #b8c5ba !important;
  font-size: 1em;
}

@media(min-width: 750px){
  .HomePresent__2Info img{ /*imagen del tutorial del menu*/
    width: 200px;
  }
  .HomePresent__2 h2{ /*titulo del tutorial*/
    font-size: 3em;
  }
  .HomePresent__2Info p{ /*letras del tutorial del menu*/
    font-size: 2em;
  }
  .HomePresent__2Info{ /*contenedor de la informacion*/
    flex-direction: row;
    gap: 50px;
    align-items: center;
  }

  .HomePresent__2InfoBtns__content{ /*contenedor de cada nota*/
    width: 350px;
  }

}



/*tercepar parte uso de herramientas*/
.HomePresent__3{ /*contenedor principal*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 150%;
  transition-duration: .3s;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
  padding-top: 15px;
}
.HomePresent__3 h2{ /*titulo principal*/
  margin: 0;
  padding: 0;
  font-size: 2em;
}
.HomePresent__3Info{ /*contenedor de la informacion*/
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #141414;
  padding: 10px;
  border-radius: 14px;
}
.HomePresent__3Info p{ /*color del texto de la informacion*/
  color: #32e24f !important;
  font-size: 1em;
}

.HomePresent__3Btn{ /*boton para comenzar a usar la aplicacion*/
  border-radius: 1000px;
  background-color: transparent;
  border: 2px solid #138526;
  padding: 8px;
  margin-bottom: 25px;
  font-size: 1.5em;
  position: relative;
  color: #32e24f !important;
  transition-duration: .3s;
  pointer-events: auto;
}
.HomePresent__3Btn:hover{
  background-color: #1e201e;
  box-shadow: 0 0 15px 8px #32e24f;
  transition-duration: .3s;
}
.HomePresent__3BtnHray{
  border: 2px solid #272525;
  color: #272525 !important;
  pointer-events: none;
}

@media(min-width: 750px){
  .HomePresent__3 h2{ /*titulo principal*/
    font-size: 3em;
  }
  .HomePresent__3Info{ /*contenedor de la informacion*/
    width: 350px;
  }
  .HomePresent__3Info p{ /*color del texto de la informacion*/
    font-size: 1.5em;
  }
  .HomePresent__3Btn{ /*boton para comenzar a usar la aplicacion*/
    font-size: 2em;
    padding: 15px;
  }
}











/*pagina de home*/
.Home{
  position: relative;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100vw;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.Home::-webkit-scrollbar{display: none;}
.homeLazy{
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition-duration: .3s;
}
.homeLazyShow{
  opacity: 1;
  transition-duration: .3s;
}


/* seccion de tecnologias */
.HomeTecnologias{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #1e201e;
}
.HomeTecnologias h2{
  color: #33d6dc;
}



/* seccion de certificados */
.HomeSertificados{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #00f;
}