.mainHome{
  background-color: #0f0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  margin: 0 !important;
  z-index: 4;
}



/*estilos de la primera presentacion*/



.presentacionHome{ /*contenedor principal*/
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 500;
  opacity: 1;
  transition-duration: .5s;
  font-size: 1.5em;
  text-align: center;
  color: #0f0;
}


.presentacionHomeTecnologias{ /*contenedor de las imagenes*/
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.presentacionHomeTecnologias img{ /*imagenes*/
  width: 80px;
  object-fit: cover;
  opacity: 0;
  transition-duration: .5s;
  position: absolute;
}
.presentacionHomeImgs{ /*Mostrar imagenes*/
  position: relative !important;
  opacity: 1 !important;
  transition-duration: .5s;
}


.presentacionHomeComenzar{ /*estilos del boton para comenzar a usar la web*/
  margin-top: 35px;
  position: absolute;
  padding: 8px;
  font-size: 1.2em;
  border-radius: 50px;
  cursor: pointer;
  color: #0f0 !important;
  background: linear-gradient(90deg,#0b920b,transparent,transparent);
  box-shadow: 0 0 15px 4px #0f0;
  opacity: 0;
  transition-duration: .5s;
}
.presentacionHomeComenzarShow{
  position: relative !important;
  opacity: 1 !important;
  transition-duration: .5s;
}


@media(min-width:750px){
  .presentacionHome{ /*contenedor principal*/
    font-size: 2em;
  }
}






/*estilos del parpadeo de la maquina de escribir*/
.parpadeoHome{
  animation-name: parpadeoMaquinaEscribir;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes parpadeoMaquinaEscribir {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}











/*estilos del porfolio*/
.HomePorfolio{ /*contenedor principal*/
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #181717;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 150;
}
.HomePorfolio::-webkit-scrollbar{
  display: none;
}

/*primera parte presentacion*/
.HomePorfolioPresent{  /*contenedor principal*/
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  gap: 85px;
  flex-direction: column;
}
.HomePorfolioPresentTexto{ /*parrafo de la izquierda*/
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  color: #0f0;
}
.HomePorfolioPresentTexto h2{
  position: relative;
  font-size: 1.6em;
  color: #0f0;
}
.HomePorfolioPresentImg{ /*contenedor de la imagen*/
  width: 250px;
  height: 250px;
  border-radius: 1000px;
  overflow: hidden;
}
.HomePorfolioPresentImg img{ /*imagen*/
  width: 100%;
  height: 100%;
}

@media(min-width:750px){
  .HomePorfolioPresent{  /*contenedor principal*/
    flex-direction: row;
    justify-content: space-around;
  }
  .HomePorfolioPresentTexto{ /*parrafo de la izquierda*/
    width: 50%;
    font-size: 1.5em;
  }
}



/*segunda parte tecnologias*/
.HomeTecnologias{ /*comtemedor principal*/
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #101110;
  padding: 0;
  pointer-events: none;
}
.HomeTecnologiasBtn{ /*contenedor de los botones*/
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;

}
.HomeTecnologiasBtn button{ /*botones para mover las imagenes*/
  background-color: #000000b9;
  pointer-events: auto;
  color: #71ecb3;
  border-radius: 1000px;
  font-size: 1.2em;
  margin: 15px;
  padding: 8px;
}
.SliderHomeContentImgs ul{ /*contenedor principal de las imagenes*/
  width: 100%;
  height: 100%;
  display: flex;
}
.SliderHomeContentImgs ul li img{ /*imagenes*/
  width: 100vw;
  height: 105vh;
  object-fit: cover;
  object-position: center;
}
.sliderImgLiHome{ /*ocurecer un poco las imagenes*/
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  z-index: 0;
}


/*informacion sobre las tecnologias*/
.SliderHomeContentInfo{  /*contenedor principal*/
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.SliderHomeContentInfoContent{ /*contenedor centrado*/
  background-color: #0202022c;
  border-radius: 15px;
  backdrop-filter: blur(4px);
  width: 75%;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #83ecff;
  text-shadow: 0px 0 25px rgb(239, 247, 239);
  font-size: 1.2em;
}
.SliderHomeContentInfoContent h2{
  color: #83ecff;
  margin: 0;
  padding: 0;
}
@media(min-width:750px){
  .SliderHomeContentInfoContent{ /*contenedor centrado*/
    width: 250px;
  }
}