.mainHome{
  margin-bottom: 0;
  margin-top: 0;
}


.title_consepto1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #00000026;
  height: 100vh;
  width: 100vw;
}
.titleHome{
  font-size: 5vh;
}
.conseptoHome{
  color: #fff;
  text-align: center;
  width: 75%;
  font-size: 3vh;
}





.editoresCodigoContent{
  background-color: #00000050;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.edioresParrafo{
  width: 75%;
  color: #ffff;
  text-align: center;
  font-size: 3vh;
}
.editoresCodigoContent a{
  color: #a8a4a4;
  font-size: 3vh;
}
.editoresCodigoContent a:hover{
  color: #837171;
}

@media (min-width: 950px){
  .titleHome{
    font-size: 2.5em;
  }
  .conseptoHome{
    font-size: 1.2em;
  }
  .conseptoHome{
    width: 35%;
  }

  .edioresParrafo{
    font-size: 1.2em;
    width: 35%;
  }
  .editoresCodigoContent a{
    font-size: 1.2em;
  }
}