/* esto es el contenedor de toda la pagina en generak */

/* estos estilos son del titulo */
.contenedorTiendaHeladosProyJs h1{
  position: absolute;
  width: 100%;
  text-align: center !important;
  animation-name: tituloHeladoProyJs;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  text-shadow: 0 15px 15px #000;
  animation-direction: alternate;
  top: 0;

}
@keyframes tituloHeladoProyJs {
  0%{
    transform: rotateY(-50deg);
  }
  100%{
    transform: rotateY(50deg);
  }
}
/* este es el mensaje del dinero del usuario */
.contenedorTiendaHeladosProyJs__presupuesto{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 60px;
  z-index: 2;
}
.contenedorTiendaHeladosProyJs__presupuesto p{
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: 0 5px 8px 0px #000;
  padding: 2px 25px 2px 25px;
  font-size: 1.5em;
}


/* este es el contenedor principal para seleccionar los helados */
.contenedorHelado{
  background-color: #ffffe0;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 220px;
  padding: 8px;
  transition-duration: .5s;
}
.contenedorHelado:hover{
  background-color: #fafac4;
  transition-duration: .5s;
}
.contenedorHelado p{
  font-size: 1.4em;
  color: #0f0;
  margin-top: 8px;
}
/* este es el contenedor de la imagen */
.contenedorHelado__content1{
  margin-top: 10px;
  width: 190px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contenedorHelado__content1 p{
  color: #caeade !important;
  z-index: 2;
  font-size: 1.5em;
}
.contenedorHelado__content1 b{
  color: #0f0 !important;
  z-index: 2;
  font-size: 1.5em;
}
.contenedorHelado__content1::after{
  content: "";
  position: absolute;
  width: 190px;
  height: 150px;
  background-color: #00000049;
  z-index: 0;
  transition-duration: .5s;
}
.contenedorHelado:hover > .contenedorHelado__content1::after{
  background-color: #00000088;
  transition-duration: .5s;
}
.contenedorHelado__content2{
  display: flex;
  justify-content: space-around;
  width: 85%;
}
.contenedorHelado__content2 div{
  font-size: 1.5em;
  color: #000 !important;
  border: none;
  border-radius: 100%;
  outline: none;
  width: 28px;
  height: 28px;
  text-align: center;
  cursor: pointer;
  transition-duration: .5s;
  user-select: none;
}
.contenedorHelado__content2 div:hover{
  background-color: #000;
  color: #fff !important;
  transition-duration: .5s;
}


/* esto es el contenedor de del componente de los helados */
.componenteHelados{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 110px !important;
}
@media (min-width:750px){
  .componenteHelados{
    width: 55%;
    margin: auto;
  }
}
.comprarHelados{
  display: block;
  background-color: #0f0;
  margin: auto;
  margin-top: 35px;
  user-select: none;
  cursor: pointer;
  transition-duration: .5s;
  margin-bottom: 150px;
}
.comprarHelados:hover{
  background-color: #08ab08;
  transition-duration: .5s;
}