.titleCap4CssProyect{
  text-align: center !important;
  background-color: #e0e0e0;
  padding: 15px;
}
.titleCap4CssProyect__h2{
  text-align: center !important;
  background-color: #e0e0e0;
  text-shadow: 0px 8px 15px #000;
  min-width: 100px;
  max-width: 500px;
  box-shadow: 0 8px 13px 8px #e0e0e0;
}
.contenedorCssProyectoCap2{
  background-color: #ff5506;
  width: 35%;
  color: #000000;
  padding: 50px;
  margin: auto;
  margin-top: 25px;
  border-radius: 35px;
  min-width: 200px;
  max-width: 600px;
  border: 2px solid #b64511;
}
.contenedorCssProyectoCap2 p{
  margin-top: 25px;
}
.contenedorCssProyectoCap2_1{
  background-color: #00f;
  color: #fff;
  border: 2px solid #8888ff;
}
.contenedorCssProyectoCap2_3{
  background-color: #f2ff00;
  color: #000;
  border: 2px solid #b3ba26;
}
.contenedorCssProyectoCap2_4{
  background-color: #000;
  color: #fff;
  border: 2px solid #5f5d5d;
}
.contenedorCssProyectoCap2_5{
  background-color: #1ff3e9;
  color: #000000;
  border: 2px solid #198d61;
}
.contenedorCssProyectoCap2_6{
  background-color: #cae51c;
  color: #000000;
  border: 2px solid #c2ce73;
}