.img_especificidad{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.img_especificidad img{
  width: 85%;
}
.especificidad_b{
  color: blue !important;
}
.subtitulo_1{
  color: blue !important;
}
#otro_subtitulo_feliz{
  color: orange;
}

@media (min-width: 750px) {
  .img_especificidad img{
    width: 58%;
  }
}