

/* todos los estilos de aqui seran la barrita del costado */

/* esto es el contenedor de la barrita */

.barrita__content{
  display: flex;
  position: fixed;
  top: 50px;
  left: 0;
  background-color: #fff;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 20px;
  gap: 25px;
  z-index: 3;
  transition-duration: .5s;
}
.barritaDark{
  background-color: #000 !important;
  box-shadow: 10px 0 15px #0e0d0d !important;
  transition-duration: .5s;
}
.barritaDark .iconno{
  color: #fff !important;
  transition-duration: .5s;
}

/* esto es el link osea los iconos de la barrita */
.iconno{
  color: #000 !important;
  /* margin-top: 15px; */
  cursor: pointer;
  transition-duration: .5s;
}



.contentHover{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(25px,0px);
  background-color: #424b42;
  width: 60px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
  transition-duration: .5s;
}
.contentHover{
  color: #fff;
}
.mostrar_opciones{
  opacity: 1;
  visibility: visible;
  transition-duration: .5s;
  z-index: 15;
}

/* este es el texto */
.hoverInicio{
  color: #fff;
}

/* estos son los mensajes que aparecen al pasar el mouse en un icono de la barrita izquierda */
.cursos{
  left: 45px;
}
.proyectos{
  left: 85px;
  width: 90px;
}



@media(min-width: 750px){


  /* esto es el contenedor de la barrita */

  .barrita__content{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 2px 0 15px #dfd4d4;
    align-items: center;
    width: 30px;
    height: 100%;
    gap: 0;
    z-index: 5;
    transition-duration: .5s;
  }


  /* esto es el link de inicio */
  .iconno{
    margin-top: 15px;
    color: #000;
  }

  /* esto es el estilos del hover que aparece cuando se hace hover. */
  
  .contentHover{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(45px,16px);
    background-color: #424b42;
    width: 60px;
    height: 25px;
    opacity: 0;
    transition-duration: .5s;
  }
  .contentHover{
    color: #fff;
  }
  .mostrar_opciones{
    opacity: 1;
    transition-duration: .5s;
  }

  /* este es el texto */
  .hoverInicio{
    color: #fff;
  }
  .cursos{
    top: 30px;
    left: -15px;
  }
  .proyectos{
    top: 62px;
    left: -15px;
    width: 90px;
  }
}








/* esto es el aside osea los capitulos */
.capitulosContent{
  position: fixed;
  top: 70px;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition-duration: .5s;
  overflow: auto;
  overflow-x: hidden;
}
.asideDark{
  background-color: #000;
  transition-duration: .5s;
}
.capitulosContent::-webkit-scrollbar{
  display: none;
}

.hideAside{
  height: 0;
  transition-duration: .5s;
}


@media(min-width:750px){

  .capitulosContent{
    display: block;
    position: fixed;
    top: 0;
    left: 30px;
    width: 250px;
    height: 100vh;
    transition-duration: .5s;
    box-shadow: 10px 0 15px #f2e6e6;
    overflow: auto;
    z-index: 4;
  }
  
  .asideDark {
    background-color: #000;
    box-shadow: 10px 0 15px #0a0a0a;
    transition-duration: .5s;
  }
  .hideAside{
    left: -100%;
    transition-duration: .5s;
  }
}







/* los estilos de aqui son de los proyectos de la barrita */
.proyectosBarrita{
  position: fixed;
  background-color: #ffffff;
  box-shadow: 10px 0 15px #f2e6e6;
  width: 100%;
  height: 0;
  transition-duration: .5s;
  overflow: auto;
  overflow-x: hidden;
  top: 65px;
  z-index: 2;
}
.proyectMcContentDark{
  background-color: #000;
  box-shadow: 10px 0 15px #0a0a0a;
  transition-duration: .5s;
}
.mostrarProyectos{
  top: 70px;
  height: 100vh;
  left: 0;
  transition-duration: .5s;
}


/* esto es la version pero para pc */
@media (min-width:750px){

  .proyectosBarrita{
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 80vw;
    height: 100vh;
    transition-duration: .5s;
    overflow: auto;
    overflow-x: hidden;
    z-index: 4;
  }
  .proyectosBarrita::-webkit-scrollbar{
    display: none;
  }

  .mostrarProyectos{
    left: 30px;
    width: 250px;
    transition-duration: .5s;
  }
}