.contenedorBarrita{  /*contenedor principal*/
  position: absolute;
  background-color: #242924;
  padding: 4px;
  border-radius: 1000px;
  pointer-events: stroke;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
}
.contenedorBarrita__Opciones{ /*ul principal*/
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contenedorBarrita__Opciones li a{  /*link para ir al inicio*/
  color: #999595 !important;
  border-radius: 1000px;
  padding: 2px;
  transition-duration: .3s;
  font-size: .8em;
}
.contenedorBarrita__Opciones li a:hover{
  color: #666161;
  box-shadow: 0 0 5px 5px #666161;
  transition-duration: .3s;
}

.contenedorBarrita__Opciones li button{  /*botones*/
  background-color: transparent;
  color: #999595 !important;
  font-size: .8em;
  border-radius: 1000px;
  padding: 2px;
  transition-duration: .3s;
}
.contenedorBarrita__Opciones li button:hover{
  color: #666161 !important;
  box-shadow: 0 0 5px 5px #666161;
  transition-duration: .3s;
}

.contenedorBarrita__indicacion{
  position: absolute;
  margin-left: 4px;
  margin-top: -4px;
  background-color: #000;
  color: #fff;
  padding: 4px;
  opacity: 1;
  visibility: visible;
  transition-duration: .3s;
}
.contenedorBarrita__indicacionHide{
  opacity: 0;
  visibility: hidden;
  transition-duration: .3s;
}



/* estulos de los cursos */
.contenedorBarrita__cursos{ /*contenedor de los cursos*/
  position: absolute !important;
  left: 25px;
  padding: 0;
  transition-duration: .3s;
  z-index: -1;
}
.contenedorBarrita__cursosHide{
  left: -1500px;
  transition-duration: .3s;
}


.contenedorBarrita__proyectos{ /*contenedor de los proyectos*/
  position: absolute !important;
  left: 25px;
  padding: 0;
  transition-duration: .3s;
  z-index: -1;
}
.contenedorBarrita__proyectosHide{
  left: -1500px;
  transition-duration: .3s;
}











/*colorear iconos*/
.contenedorBarrita__Opciones li:nth-child(1) svg{
  color: #fc9228;
}
.contenedorBarrita__Opciones li:nth-child(2) svg{
  color: #0077ff;
}
.contenedorBarrita__Opciones li:nth-child(3) svg{
  color: #7bff0f;
}