

/* todos los estilos de aqui seran la barrita del costado */

/* esto es el contenedor de la barrita */

.barrita__content{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 10px 0 15px #dfd4d4;
  align-items: center;
  width: 30px;
  height: 100vh;
  z-index: 5;
  transition-duration: .5s;
}
.barritaMbDark{
  background-color: #000 !important;
  box-shadow: 10px 0 15px #0e0d0d !important;
  transition-duration: .5s;
}
.barritaMbDark .iconno{
  color: #fff !important;
  transition-duration: .5s;
}

/* esto es el link osea los iconos de la barrita */
.iconno{
  color: #000 !important;
  margin-top: 15px;
  cursor: pointer;
  transition-duration: .5s;
}

.contentHover{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(45px,16px);
  background-color: #424b42;
  width: 60px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
  transition-duration: .5s;
}
.contentHover{
  color: #fff;
}
.mostrar_opciones{
  opacity: 1;
  visibility: visible;
  transition-duration: .5s;
  z-index: 15;
}

/* este es el texto */
.hoverInicio{
  color: #fff;
}

/* estos son los mensajes que aparecen al pasar el mouse en un icono de la barrita izquierda */
.cursos{
  top: 30px;
}
.proyectos{
  top: 60px;
  left: -15px;
  width: 85px;
}



@media(min-width: 750px){


  /* esto es el contenedor de la barrita */

  .barrita__content{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 2px 0 15px #dfd4d4;
    align-items: center;
    width: 30px;
    height: 100%;
    transition-duration: .5s;
  }


  /* esto es el link de inicio */
  .iconno{
    margin-top: 15px;
    color: #000;
  }

  /* esto es el estilos del hover que aparece cuando se hace hover. */
  
  .contentHover{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(45px,16px);
    background-color: #424b42;
    width: 60px;
    height: 25px;
    opacity: 0;
    transition-duration: .5s;
  }
  .contentHover{
    color: #fff;
  }
  .mostrar_opciones{
    opacity: 1;
    transition-duration: .5s;
  }

  /* este es el texto */
  .hoverInicio{
    color: #fff;
  }
  .cursos{
    top: 30px;
  }
}








/* esto es el aside osea los capitulos */
.capitulosContent{
  position: fixed;
  top: 0;
  left: 30px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 4;
  transition-duration: .5s;
  overflow: auto;
  overflow-x: hidden;
}
.asideMbDark{
  background-color: #000;
}
.capitulosContent::-webkit-scrollbar{
  display: none;
}
.capitulosContentPc{
  display: none;
}

.hideAside{
  left: -100%;
  transition-duration: .5s;
}


@media(min-width:750px){

  .capitulosContent {
    display: block;
    position: fixed;
    top: 0;
    left: 30px;
    background-color: #fff;
    box-shadow: 10px 0 15px #e9dddd;
    width: 250px;
    height: 100vh;
    transition-duration: .5s;
    overflow: auto;
  }
  
  .asidePcDark {
    background-color: #000;
    box-shadow: 10px 0 15px #0a0a0a;
    transition-duration: .5s;
  }
  .hideAside{
    left: -100%;
    transition-duration: .5s;
  }
}







/* los estilos de aqui son de los proyectos de la barrita */
.proyectosBarrita{
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  transition-duration: .5s;
  overflow: auto;
  /* overflow-x: hidden; */
}
.proyectMcContentDark{
  background-color: #000;
  transition-duration: .5s;
}
.mostrarProyectos{
  left: 30px;
  transition-duration: .5s;
}


/* esto es la version pero para pc */
@media (min-width:750px){

  .proyectosBarrita{
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #fff;
    box-shadow: 10px 0 15px #e9dddd;
    width: 80vw;
    height: 100vh;
    transition-duration: .5s;
    overflow: auto;
    overflow-x: hidden;
  }
  .proyectosBarrita::-webkit-scrollbar{
    display: none;
  }
  .proyectPcContentDark{
    background-color: #000;
    box-shadow: 10px 0 15px #0a0a0a;
    transition-duration: .5s;
  }
  .mostrarProyectos{
    left: 30px;
    width: 250px;
    transition-duration: .5s;
  }
}