.usoDeCookies{
  color: #000;
  text-align: center;
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.bg-modal{
  background-color: #00000077;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
  z-index: -1;
  display: flex;
  justify-content: center;
}
.modal{
  background-color: #fff;
  width: 55%;
  margin: auto;
  padding: 30px;
  box-shadow: 0px 0px 0px 0px #1111;
  margin-top: 15%;
  text-align: center;
}
#accept{
  background-color: #0f0;
  color: #000 !important;
  margin-right: 15px !important;
}
#deny{
  color: #000 !important;
  background-color: #f00;
}