.consola{
  padding: 15px;
  background-color: #000;
  color: rgb(82, 243, 19);
  width: 93%;
  max-height: 45vh;
  display: block;
  margin: auto;
  white-space: pre-wrap;
  overflow: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #0f0;
}
.consola::-webkit-scrollbar{
  display: none;
}
#palito{
  display: inline-block;
  width: 1%;
  height: 10px;
  background-color: #fff;
  color: #fff;
  animation-name: palo;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes palo{
  to{
    opacity: 1;
  }
  from{
    opacity: 0;
  }
}