.consola{
  padding: 15px;
  background-color: #000000ba;
  color: rgb(82, 243, 19);
  width: 75%;
  max-width: 800px;
  max-height: 45vh;
  margin: auto;
  white-space: pre-wrap;
  overflow: auto;
  margin-top: 4%;
  margin-bottom: 4%;
}
.consola::-webkit-scrollbar{
  display: none;
}
#palito{
  display: inline-block;
  width: 1%;
  height: 10px;
  background-color: #fff;
  color: #fff;
  animation-name: palo;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes palo{
  to{
    opacity: 1;
  }
  from{
    opacity: 0;
  }
}