/*contenedor principal*/
.cap11Proy5JsV5{
  background-color: #313030;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: auto;
  /* padding-bottom: 80px; */
}



/*estilos del error*/
.cap11Proy5Js__error{ /*contenedor del mensaje de error*/
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000005b;
  opacity: 1;
  visibility: visible;
  transition-duration: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.cap11Proy5Js__errorHide{ /*ocultar contenedor*/
  opacity: 0;
  visibility: hidden;
  transition-duration: .3s;
}
.cap11Proy5Js__errorMsg{ /*contenedor del mensaje*/
  width: 85%;
  padding: 8px;
  background-color: #272927;
}
.cap11Proy5Js__errorMsg p{ /*mensaje*/
  color: #f7fce2 !important;
}
.cap11Proy5Js__errorMsgButton{ /*contenedor botones*/
  display: flex;
  justify-content: end;
  gap: 6px;
  margin-top: 15px;
}
.cap11Proy5Js__errorMsgButton button{
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
  font-size: 1em;
}
@media (min-width: 750px){
  .cap11Proy5Js__errorMsg{ /*contenedor del mensaje*/
    width: 250px;
  }
}




/*estilos para el formulario.*/

.cap11Proy5JsV5Form{ /*contenedor del form */
  position: fixed;
  width: 100%;
  top: 20%;
  height: 80%;
  background-color: #272927;;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
  transition-duration: .3s;
  overflow: auto;
  z-index: 1;
  padding-top: 50px;
}
.cap11Proy5JsV5FormHide{ /*ocultar form*/
  top: 100%;
  transition-duration: .3s;
}
.cap11Proy5JsV5FormCancelBtn{ /*cancelar contactos*/
  position: absolute;
  background-color: transparent;
  padding: 0;
  font-size: 1.5em;
  margin-left: 85%;
  color: #899289 !important;
  top: 10px;
}
.cap11Proy5JsV5Form input{ /*inputs del formulario*/
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 20px;
  border: 2px solid #353333;
  padding: 4px;
  color: #f7fce2 !important;
}
.cap11Proy5JsV5Form input::placeholder{ /*texto de guia de los inputs*/
  color: #abc082 !important;
}
.cap11Proy5JsV5FormSelect{ /*seleccion de genero*/
  background-color: transparent;
  width: 80%;
  border-radius: 20px;
  border: none;
  outline: none;
  border: 2px solid #353333;
  padding: 4px;
  color: #f7fce2 !important;
}
.cap11Proy5JsV5FormSelect option{ /*opciones del select*/
  border-radius: 20px;
  background-color: #272927;;
}
.cap11Proy5JsV5FormEnviar{ /*enviar datos*/
  margin-top: 4px;
  cursor: pointer;
  transition-duration: .2s;
}
.cap11Proy5JsV5FormEnviar:hover{ /*adorno del boton enviar*/
  background-color: #1b1d1b;
  transition-duration: .2s;
}

@media(min-width: 750px){
  .cap11Proy5JsV5Form{ /*contenedor del form */
    justify-content: center;
    padding: 0;
    top: 0;
    height: 100%;
    width: 30%;
  }
  .cap11Proy5JsV5FormCancelBtn{ /*cancelar contactos*/
    display: none;
  }
  .cap11Proy5JsV5Form input{
    width: 200px;
  }
  .cap11Proy5JsV5FormSelect{ /*seleccion de genero*/
    width: 200px;
  }
}


/*boton para agregar contactos*/
.cap11Proy5JsV5BtnAdd{ /*ubicar el boton*/
  position: fixed;
  width: 100%;
  height: 90%;
  pointer-events: none;
  display: flex;
  align-items: end;
  justify-content: center;
}
.cap11Proy5JsV5BtnAdd button{ /*boton*/
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #03ad03;
  cursor: pointer;
  pointer-events: stroke;
  font-size: 1.5em;
}
@media(min-width:750px){
  .cap11Proy5JsV5BtnAdd{
    display: none;
  }
}



/*estilos de los contactos*/
.cap11Proy5JsV5Contactos{ /*contenedor principal de los contactos*/
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}
.cap11Proy5JsV5ContactosContacto{ /*contenedor del con tacto*/
  display: flex;
  padding: 15px;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #b2cfb2;
  border-left: 2px solid #b2cfb2;
  border-radius: 20px;
}
.cap11Proy5JsV5ContactosContactoInfo{ /*informacion resumida del contacto*/
  display: flex;
  gap: 15px;
}
.cap11Proy5JsV5ContactosContactoInfoFoto{ /*letra principal del contacto*/
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cap11Proy5JsV5ContactosContacto p{ /*nombres del contacto*/
  color: #cff3b6 !important;
  display: flex;
  align-items: center;
}


.cap11Proy5JsV5ContactosBotones{ /*contenedor de los botones*/
  display: flex;
  gap: 15px;
}
.cap11Proy5JsV5ContactosBotones button{ /*opciones de los botones*/
  padding: 0;
  background-color: transparent;
  color: #cff3b6 !important;
  font-size: 1em;
  text-align: start;
}
.cap11Proy5JsV5ContactosBotonesBtn{ /*opciones de editar , etc.*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #313030;
  position: absolute;
  margin: auto;
  margin-left: -17px;
  margin-top: 120px;
  width: 80%;
  padding: 15px;
  border-bottom: 2px solid #b2cfb2;
  border-left: 2px solid #b2cfb2;
  border-right: 2px solid #b2cfb2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cap11Proy5JsV5ContactosBotonesBtn button{
  font-size: 1em;
  padding: 8px;
  background-color: transparent;
  transition-duration: .2s;
}
.cap11Proy5JsV5ContactosBotonesBtn button:hover{
  transition-duration: .2s;
  background-color: #2b2828;
}



@media(min-width: 750px){
  .cap11Proy5JsV5Contactos{/*contenedor principal de los contactos*/
    position: relative;
    left: 31%;
    width: 40%;
    display: flex;
    align-items: center;
  }
  .cap11Proy5JsV5ContactosContacto{ /*contenedor del con tacto*/
    width: 300px;
  }
  .cap11Proy5JsV5ContactosBotonesBtn{ /*opciones de editar , etc.*/
    width: 300px;
  }
}



/*estilos para ver los detalles de un contacto*/
.cap11Proy5JsV5Detalles{ /*esto es el contenedor principal*/
  position: fixed;
  background-color: #2b2828;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: .2s;
  overflow: auto;
  gap: 15px;
}
.cap11Proy5JsV5DetallesHide{ /*ocultar los detalles*/
  top: 100%;
  transition-duration: .2s;
}
.cap11Proy5JsV5DetallesImagen{ /*esto es la letra grande que indica que contacto es*/
  width: 200px;
  height: 200px;
  border-radius: 1000px;
  background-color: #000;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.cap11Proy5JsV5DetallesImagen p{ /*esto es el texto de la letra gigante*/
  color: #cff3b6 !important;
}
.cap11Proy5JsV5Detalles button{ /*boton para cerrar los detalles*/
  position: absolute;
  margin-left: 85%;
  padding: 0;
  font-size: 1.5em;
  background-color: transparent;
}

.cap11Proy5JsV5DetallesInfo{ /*contenedor de los detalles como tal*/
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 80%;
  overflow: auto;
}
.cap11Proy5JsV5DetallesInfo::-webkit-scrollbar{ /*modificando scroll*/
  background-color: #313030;
  border-radius: 1000px;
}
.cap11Proy5JsV5DetallesInfo::-webkit-scrollbar-thumb{
  background-color: #141313;
  border-radius: 1000px;
}
.cap11Proy5JsV5DetallesInfo p{ /*los parrafor de los detalles.*/
  color: #cff3b6 !important;
  padding: 8px;
}
.cap11Proy5JsV5DetallesInfo b{ /*informacion*/
  background-color: #1f1d1d;
  padding: 4px;
}

@media(min-width: 750px){
  .cap11Proy5JsV5Detalles{ /*esto es el contenedor principal*/
    top: 0;
    width: 30%;
    left: 70%;
  }
  .cap11Proy5JsV5DetallesX{ /*boton para cerrar los detalles*/
    display: none;
  }
}