.codigoEscribir{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 45;

}

.codificacionTexto{
  background-color: #4a4242;
  color: #fff;
  height: 100vh;
  width: 95vw;
  border: none !important;
  outline: none !important;
}

/* esto es el boton para comilar */
.compilarJs{
  position: absolute;
  width: 100%;
  top: 50px !important;
  display: flex;
  justify-content: end;
  z-index: 5489;
  top: 0;
  pointer-events: none;
}
.compilarJs button{
  border: none;
  outline: none;
  background-color: #928a8a;
  color: #fff;
  margin-top: 25px;
  margin-right: 25px;
  cursor: pointer;
  pointer-events: stroke;
}
.compilarJs button:hover{
  background-color: rgba(0, 255, 0, 0.344);
  transition-duration: .5s;
}