/* estilos del backgound y contenedor principal */
.contenedorPageCap9V1Pokemon{ /*contenedor principal*/
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: hidden;
}



/* estilos del buscador */

.contenedorPokemonOpcionesJsCap9{ /*esto es el contenedor de las opciones que tiene el usuario*/
  width: 100%;
  height: 355px;
  background-color: #f00;
  display: flex;
  align-items: center !important;
  flex-direction: column;
}

.contenedorPokemonOpcionesJsCap9__input{ /*esto es el contenedor del input*/
  background-color: #ff5151;
  border-radius: 1000px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  height: 45px;
  margin-top: 10px;
  width: 85%;
  position: absolute;
  border: 2px solid #000;
}
.contenedorPokemonOpcionesJsCap9__input input{ /*esto es el input*/
  height: 108%;
  width: 80%;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 2em;
  display: flex;
  background-color: #fff;
  margin-left: -15px;
  padding-left: 15px;
}
.contenedorPokemonOpcionesJsCap9__input p{ /*esto es para limpiar el input*/
  background-color: #fff;
  font-size: 2em;
  height: 100%;
  padding: 4px;
  cursor: pointer;
}
.contenedorPokemonOpcionesJsCap9__input button{ /*esto es el boton de busqueda*/
  padding: 0;
  width: 25%;
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  cursor: pointer;
}

.sugerencias{ /*estas son las sugerencias de las busquedas*/
  position: absolute;
  top: 66px;
  left: 45px;
  width: 64.5%;
  max-height: 50%;
  background-color: #fff;
  z-index: 4;
  overflow: auto;
}
.sugerencias::-webkit-scrollbar{
  background-color: #f00;
  width: 2px;
}
.sugerencias::-webkit-scrollbar-thumb{
  background-color: #fff;
}
.sugerencias p{
  padding: 15px;
  cursor: pointer;
}
.sugerencias p:hover{
  background-color: #bd1f1f;
  color: #fff;
}


@media(min-width: 750px){
  .contenedorPageCap9V1Pokemon{ /*contenedor principal*/
    flex-direction: row;
    overflow: hidden;
  }
  .contenedorPokemonOpcionesJsCap9__input{ /*esto es el contenedor del input*/
    position: relative;
    margin-top: 0;
  }
  .contenedorPokemonOpcionesJsCap9{ /*esto es el contenedor de las opciones que tiene el usuario*/
    width: 350px;
    height: 100%;
    background-color: #ff0909;
    align-items: start;
    max-width: 550px;
  }
  .contenedorPokemonOpcionesJsCap9__input{ /*esto es el contenedor del input*/
    height: 45px;
    margin-top: 25px;
  }
  .sugerencias{ /*estas son las sugerencias de las busquedas*/
    width: 220px;
    top: 81px;
    left: 25px;
  }  
  .contenedorPokemonOpcionesJsCap9__icono{ /*esto es el icono de menu*/
    display: none;
  }
}




/*estilos de la consola de botones*/


.contenedorPokemonOpcionesJsCap9__botones{ /*estos son los botones para manejar los eventos*/
  margin-top: 85px;
  display: flex;
  justify-content: center !important;
  align-items: center;
  width: 100%;
  gap: 35px;
}
.contenedorBotonesPokemonCap9Js{ /*este es el contenedor del boton de la consola*/
  display: flex;
  flex-direction: column;
  user-select: none;
  justify-content: center;
  align-items: center;
}
.contenedorBotonesPokemonCap9Js div{ /*este es el icono del boton*/
  background-color: #3e04dd;
  border-radius: 1000px;
  width: 30px !important;
  height: 30px !important;
  display: flex;
  font-size: 1em;
  color: #fff !important;
  padding: 2px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition-duration: .8s;
  box-shadow: 0px 2px 0 2px #3507b4;
}
.contenedorBotonesPokemonCap9Js p{ /*esto es el texto indicativo del boton*/
  text-align: center;
  margin-top: 4px;
  color: #fff !important;
  font-size: 1em;
}
.contenedorBotonesPokemonCap9Js div:active{
  background-color: #02297c;
  transition-duration: .8s;
  box-shadow: 0px 0px 0 0px #3507b4;
}

.contenedorPokemonOpcionesJsCap9__botones__despazamiento{/*estos son los botnones de desplazamiento*/
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contenedorPokemonOpcionesJsCap9__botones__despazamiento__izDer{
  display: flex;
  gap: 100px;
  justify-content: center;
}
.contenedorPokemonOpcionesJsCap9__botones__opciones{ /*estos son los botones de las opciones*/
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.contenedorPokemonOpcionesJsCap9__botones__despazamiento__enAp{
  display: flex;
  gap: 25px;
  justify-content: center;
}



@media(min-width:750px){
  .contenedorPokemonOpcionesJsCap9__botones{ /*estos son los botones para manejar los eventos*/
    position: absolute;
    margin-top: 110px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
  }

  .contenedorBotonesPokemonCap9Js div{ /*este es el icono del boton*/
    width: 45px;
    height: 45px;
    font-size: 1.5em;
    padding: 4px;
  }
  .contenedorBotonesPokemonCap9Js p{ /*esto es el texto indicativo del boton*/
    font-size: 1.3em;
  }

  .contenedorPokemonOpcionesJsCap9__botones__opciones{ /*estos son los botones de las opciones*/
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 15px;
  }
}




/*estilos de los pokemones que se renderizaran*/

.contenedorPageCap9V1Pokemon__pokemones{ /*esto es el contenedor principal de los pokemones renderizados*/
  background-image: url("https://th.bing.com/th/id/R.96727f14104cad467b3a4b6c0ba12e32?rik=Ftvgoc2ZHVxQ1Q&riu=http%3a%2f%2f3.bp.blogspot.com%2f-DGeUcFprwKQ%2fT638KokmnpI%2fAAAAAAAAACY%2faHdPnicuQC4%2fs320%2fpuchamon%C2%A1%C2%A1%C2%A1%C2%A1.jpg&ehk=bF2yCVPuXZsC62bNAk4RmIHBEt2iLK8bJF7JRYSoPJA%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
  background-color: #09c0b1;
  background-position: center;
  border: 23px solid #f00;
  height: 100%;
  overflow: hidden;
  padding: 15px;
}
.contenedorPageCap9V1Pokemon__pokemones::-webkit-scrollbar{
  display: none;
}
.contenedorPageCap9V1Pokemon__pokemonesscrennOnOff{ /*esto es la pantalla de encendido y apagado*/
  background-color: #000;
  width: 150%;
  height: 150%;
  margin-top: -15px;
  margin-left: -15px;
  transition-duration: .5s;
}
.contenedorPageCap9V1Pokemon__pokemonesscreenOff{
  opacity: 1;
  visibility: visible;
  position: relative;
}
.contenedorPageCap9V1Pokemon__pokemonesscreenOn{
  opacity: 0;
  visibility: hidden;
  position: absolute;
}


.pageCap9V1Pokemon__content{ /*contenedor de los pokemones renderizadors*/
  display: flex;
  width: 100px;
  height: 140px;
  align-items: center;
}
.pageCap9V1Pokemon__content__img{ /*esto es la imagen*/
  width: 120px;
  height: 120px;
  border-radius: 100px;
  box-shadow: 0 -12px 0px 2px #f00;
  border-bottom: 25px solid #fff;
  transition-duration: .5s;
  cursor: pointer;
  background: #f00;
}
.pageCap9V1Pokemon__content__img:hover{
  background: #740404;
  box-shadow: 0 -8px 0px .5px #f00;
  transition-duration: .5s;
}
.pageCap9V1Pokemon__content__info{ /*esto es la informacion*/
  background-color: #0000007e;
  backdrop-filter: blur(4px);
  padding: 15px;
  min-width: 100px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pageCap9V1Pokemon__content__info:hover{
  background-color: #000000b7;
}
.pageCap9V1Pokemon__content__info p{
  color: #fff !important;
}
.pageCap9V1Pokemon__content__infoHide{
  display: none;
}




.contenedorPageCap9V1Pokemon__pokemonesRenderizados{ /*contenedor de los pokemones buscados*/
  position: absolute;
  margin-left: -15px;
  margin-top: -15px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr); /* Dos filas fijas */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 25px;
  scroll-behavior: smooth;
  transition-duration: .5s;
}
.contenedorPageCap9V1Pokemon__pokemonesRenderizados::-webkit-scrollbar{
  display: none;
}


/*estilos de los pokemones buscados*/
.contenedorPageCap9V1Pokemon__pokemonesBuscados{
  position: relative;
  visibility: visible;
  transform: rotateY(0deg);
  transition-duration: .5s;
}
.contenedorPageCap9V1Pokemon__pokemonesBuscadosHide{
  transform: rotateY(90deg);
  transition-duration: .5s;
}

/*estilos de los pokemones renderizados*/
.contenedorPageCap9V1Pokemon__pokemonesTodos{
  position: relative;
  transform: rotateY(0deg);
  transition-duration: .5s;
}
.contenedorPageCap9V1Pokemon__pokemonesTodosHide{
  transform: rotateY(90deg);
  transition-duration: .5s;
}


.cap9JsPokemon__cambiarFondo{ /*estilos del input para cambiar fondo*/
  display: flex;
  background-color: #fff;
  position: absolute;
  border-radius: 1000px;
  overflow: hidden;
  margin: auto;
  margin-top: 15px;
  padding: 0;
  gap: 8px;
  align-items: center;
  z-index: 2;
}
.cap9JsPokemon__cambiarFondo input,button,p{
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
.cap9JsPokemon__cambiarFondo input{
  padding-left: 8px;
}
.cap9JsPokemon__cambiarFondo p{
  font-size: 1.5em;
  cursor: pointer;
}
.cap9JsPokemon__cambiarFondo button{
  cursor: pointer;
  background-color: #0f0;
  padding: 4px;
}


@media(min-width: 750px){
  .contenedorPageCap9V1Pokemon__pokemones{ /*esto es el contenedor principal de los pokemones renderizados*/
    flex-grow: 2;
    height: auto;
  }
}


/*estilos del error*/
.contenedorPageCap9V1Pokemon__error{
  position: fixed;
  background-color: #000000ab;
  backdrop-filter: blur(6px);
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  opacity: 1;
  transition-duration: .5s;
}
.contenedorPageCap9V1Pokemon__errorHide{
  opacity: 0;
  transition-duration: .5s;
}
.contenedorPageCap9V1Pokemon__error p{
  color: #f00 !important;
  font-size: 1.5em;
  text-align: center;
}
.contenedorPageCap9V1Pokemon__error svg{
  color: #f00;
  font-size: 3.5em;
  animation-name: animacionAdvertencia;
  animation-iteration-count: infinite;
  animation-duration: .5s;
  animation-direction: alternate;
}
@keyframes animacionAdvertencia{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}