.modal-open{
  overflow: hidden !important;
}

.website .pColor{
  color: rgb(83, 143, 83) !important;
}
.website h3{
  text-align: start;
}
.universalWebsite{
  color: #00f !important;
}
.deTipo{
  color: gray !important;
}

.parrafoClases{
  color: blue !important;
}
.subtituloClases{
  color: red !important;
}
.elemento_clases{
  color: gray !important;
}

#titulo{
  color: green !important;
}
#parrafo{
  color: red !important;
}

[boton="el_boton"]{
  color: orange !important;
}
[parrafo="el_parrafo"]{
  color: pink !important;
}



.website div p{
  color: green !important;
}
.website h6 p{
  color: red !important;
}
.website .subtitulo__h6 .un_parrafo{
  color: gray !important;
}

#cambiar{
  color: red !important;
}
#cambiar:hover{
  color: green !important;
}

