aside{
  pointer-events: stroke;
  height: 100vh !important;
  background-color: transparent;
  backdrop-filter: blur(4px);
  padding: 8px;
  border-radius: 10px;
  min-height: 110px;
  overflow: auto;
  width: 70vw;
  z-index: 5;
}
aside::-webkit-scrollbar{
  display: none;
}

.NavAsideUl{
  margin-top: 35px;
  display: flex;
  list-style: none;
  cursor: pointer;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding-bottom: 40px;
}
.NavAsideUl li{
  width: 80%;
  background-color: #00000091;
  padding: 8px;
  border-radius: 10px;
  transition-duration: .5s;
  text-align: center;
  box-shadow: 0 0 15px 2px #a10404;
}
.NavAsideUl li p{
  color: #ecffb7 !important;
}

.capitulos{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.capitulos p{
  padding: 8px;
  background-color: #00000081;
  box-shadow: 0 0 15px 2px #a83030;
  border-radius: 10px;
  text-align: start;
}
.temas{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
.temas a{
  background-color: #00000056;
  border-radius: 10px;
  width: 80%;
  margin-top: 20px;
  text-align: start;
  color: #acfaac;
  padding: 8px;
  box-shadow: 0 0 15px 2px #4d1010;
}

.active{
  background-color: #7063635d !important;
  color: #f4ffee;
}

@media(min-width: 750px){
  aside{
    width: 250px;
  }
}