aside{
  pointer-events: stroke;
  height: 55vh;
  max-height: 450px;
  background-color: #000000f1;
  padding: 8px;
  border-radius: 10px;
  min-height: 110px;
  overflow: auto;
  width: 80vw;
}
aside::-webkit-scrollbar{
  display: none;
}

.NavAsideUl{
  display: flex;
  list-style: none;
  cursor: pointer;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.NavAsideUl li{
  width: 80%;
  background-color: #242924;
  padding: 8px;
  border-radius: 10px;
  transition-duration: .5s;
  text-align: center;
  border: 2px solid #242924;
}

.capitulos{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.capitulos p{
  padding: 8px;
  background-color: #1c1d1c;
  border: 2px solid #3f443f;
  border-radius: 10px;
  text-align: start;
}
.temas{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
.temas a{
  background-color: #000000;
  border-radius: 10px;
  width: 80%;
  margin-top: 20px;
  text-align: start;
  color: #acfaac;
  padding: 8px;
  border: 2px solid #242924;
}

.active{
  background-color: #645e5e !important;
  color: #f4ffee;
}

@media(min-width: 750px){
  aside{
    width: 250px;
  }
}