aside{
  position: fixed;
  background-color: #453232;
  margin-top: 5vh;
  width: 100vw;
  height: 15px;
  transition-duration: .5s;
  overflow: hidden;
  font-size: 1em;
  z-index: 2;
  border-bottom: 2px solid #2d2a2a;
}
.expandir{
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 15%;
}

aside::-webkit-scrollbar{
  display: none;
}

/* esto es el boto */

.botonAsideContent{
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  color: #fff;
  margin-top: -8px;
  /* align-items: center; */
  padding-left: 2%;
  background-color: #1a1818;
  font-size: .9em;
  max-height: 100px;
  height: 25px;
}


/* iconos */

.iconoAside{
  margin-top: 3px;
  margin-left: 2%;
  transition-duration: .5s;
  font-size: .8em;
  cursor: pointer;
}
.rotar{
  transform: rotate(180deg);
  transition-duration: .5s;
}


/* los cursos */

.curso p{
  cursor: pointer;
  color: #fff;
  padding: 2% 0 2% 4%;
  background-color: #453232;
  font-size: .8em;
}
.curso p:hover{
  background-color: #271c1c;
}


/* aqui los capitulos */

.capitulos{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.capitulos p{
  padding: 4% 0 4% 8%;
  color: #fff;
  background-color: #332525;
  font-size: .8em;
}
.capitulos p a:hover{
  background-color: #201818;
  
}

/* aqui los temas */
.temas{
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #191818;
}
.temas a{
  padding: 5% 0 5% 15%;
  display: block;
  font-size: .8em;
  color: #fff;
}

.temas a:hover{
  background-color: #141010;
}

.active {
  font-weight: bold;
  color: blue;
}


@media (min-width: 750px){
  aside{
    height: 100vh;
    width: 25vw;
    max-width: 1500px;
    margin-top: 45px;
    overflow-y: auto;
    border-right: 4px solid #2d2a2a;
    padding-bottom: 25vh;
    z-index: 0;
  }
  .botonAsideContent{
    display: none;
  }
  .curso p{
    font-size: 1.2em;
    padding-left: 15%;
    width: 100vh;
  }
  .capitulos p{
    font-size: 1.2em;
    padding-left: 20%;
    width: 100vw;
  }
  .temas a{
    font-size: 1.2em;
    padding: 1% 0 1% 8%;
  }
}