aside{
  padding-bottom: 50px;
  color: #fff;
}
.curso{
  display: flex;
  flex-direction: column;
}
.curso p{
  cursor: pointer;
  padding: 15px;
}
.curso:hover{
  background-color: #766767;
}
.capitulos{
  display: flex;
  flex-direction: column;
}
.capitulos div{  
  background-color: #615353;
  margin-left: -15px;
  padding-left: 25px;
}
.capitulos div:hover{
  background-color: #433a3a;
}

.temas{
  display: flex;
  flex-direction: column;
}
.temas a{
  text-decoration: none;
  color: #fff;
  background-color: #2e2929;
  padding: 15px;
  padding-left: 50px;
  margin-left: -20px;
}
.temas a:hover{
  background-color: #1a1616;
}

@media(min-width:750px){
  aside{
    padding-bottom: 150px;
  }
}