aside{
  padding-bottom: 150px;
  color: #fff;
}
.curso{
  display: flex;
  flex-direction: column;
}
.curso p{
  cursor: pointer;
  padding: 8px;
}

.capitulos{
  display: flex;
  flex-direction: column;
}
.capitulos div{  
  margin-left: -15px;
  padding-left: 25px;
}


.temas{
  display: flex;
  flex-direction: column;
}
.temas a{
  text-decoration: none;
  color: #fff;
  padding: 8px;
  padding-left: 50px;
  margin-left: -20px;
}


@media(min-width:750px){
  aside{
    padding-bottom: 150px;
  }
}

/* estos son los estilos del cuando se activan o desactivan los parrafos principales */

.activeParrafo{
  background-color: #0e0d0d;
}

/* estos son los active de los parrafos temas */
.activeParrafoTemas{
  background-color: #0f0f0f;
  margin-left: -15px !important;
  padding-left: 30px !important;
}

/* estos estilos son del cuando se activan o desactivan los enlaces */

.active{
  background-color: #2e2828 !important;
}