.capitulos_content{
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 800px;
  margin: auto;
  padding: .5%;
  display: flex;
  align-items: center;
  border-radius: 15vh;
  transition-duration: .5s;
  margin-bottom: 5vh;
  overflow: hidden;
}
.capitulos_content:hover{
  border-bottom: 1vh solid #000;
  transition-duration: .5s;
}
.capitulos_content a{
  font-size: 1.4em;
  width: 100%;
  color: #0cdbff;
  transition-duration: .5s;
  text-shadow: 0 0 3vh #0cdbff;
}
.capitulos_content a:hover{
  color: #97efff;
  text-shadow: 0 0 3vh #97efff;
  transition-duration: .5s;
}
@media screen and (min-width:750px) {
  .html_title{
    margin-bottom: 10vh;
  }
  .capitulos_content a{
    font-size: 2.4em;
  }
}