aside{
  position: fixed;
  background-color: #1a1818;
  margin-top: 6.5vh;
  width: 100vw;
  height: 25px;
  transition-duration: .5s;
  overflow: hidden;
  font-size: 4vh;
}
.expandir{
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 15%;
}

aside::-webkit-scrollbar{
  display: none;
}

/* esto es el boto */

.botonAsideContent{
  display: flex;
  color: #fff;
  align-items: center;
  padding-left: 2%;
  background-color: #1a1818;
  border-bottom: 2px solid #2d2a2a;
  max-height: 100px;
  height: 25px;
}


/* iconos */

.iconoAside{
  margin-left: 2%;
}
.rotar{
  transform: rotate(180deg);
  transition-duration: .5s;
}


/* los cursos */

.curso p{
  cursor: pointer;
  color: #fff;
  padding-left: 4%;
  background-color: #1a1818;
  font-size: 1.2em;
}
.curso p:hover{
  background-color: #1f1a1a;
}


/* aqui los capitulos */

.capitulos{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.capitulos p{
  padding-left: 8%;
  color: #fff;
  background-color: #141414;
  font-size: 1.2em;
}
.capitulos p:hover{
  background-color: #121010;
  
}

/* aqui los temas */
.temas{
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #100e0e;
}
.temas a{
  padding-left: 15%;
  display: block;
  font-size: 1.1em;
}
.temas a:hover{
  background-color: #141010;
}
.temas a{
  color: #fff;
}

@media (min-width: 750px){
  aside{
    height: 100vh;
    width: 30vw;
    margin-top: 45px;
    overflow-y: auto;
    border-right: 4px solid #2d2a2a;
    padding-bottom: 25vh;
  }
  .botonAsideContent{
    display: none;
  }
  .curso p{
    padding-left: 15%;
  }
  .capitulos p{
    padding-left: 20%;
  }
  .temas a{
    padding-left: 8%;
    
  }
}