*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}
html,
body {
  height: 100%;
}

body{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}
  
  body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://th.bing.com/th/id/OIP.UAQ4ivzW80hdIHSlDPa9WgHaEK?w=283&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  filter: brightness(.3); 
  z-index: -1;
}

body::-webkit-scrollbar{
  display: none;
}
main{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1800px;
  margin: auto;
  margin-top: 13vh;
  margin-bottom: 15vh;
  width: 100vw;
}


h1{
  color: #ffffff;
  text-shadow: 0 0 1vh #fff;
  text-align: center !important;
  font-size: 1.8em;
  margin-bottom: 8%;
}
h2{
  color: #fff;
  text-shadow: 0 0 1vh #fff;
  font-size: 1.5em;
  margin-top: 4%;
  width: 100%;
  text-align: start;
  padding-left: 2%;
}
h3{
  color: #fff;
  text-shadow: 0 0 1vh #fff;
  font-size: 1.2em;
  margin-top: 2%;
  width: 100%;
  text-align: start;
}


footer {
  margin-top: auto;
  width: 100vw;
  font-size: 3em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  padding: 1%;
}

.website{
  display: block;
  background-color: #fff;
  width: 90%;
  max-width: 1800px;
  overflow: auto;
  margin: auto;
  margin-top: 5%;
  max-height: 70vh;
  padding: 2vh;
  max-height: 30vh;
}

@media screen and (min-width: 750px) {
  main{
    margin-left: 23vw;
    width: 80vw;
    max-width: 100%;
  }
  h1{
    font-size: 2.5em;
    margin-bottom: 2%;
  }
  h2{
    font-size: 2em;
    max-width: 1800px;
    margin-left: 50px;
  }
  h3{
    font-size: 1.5em;
    max-width: 1800px;
    margin-left: 80px;
  }
  .website{
    max-height: 45vh;
  }
}

.Page{
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  left: 0;
  display: flex;
  flex-direction: column;
}

.pageElement{
  color: #000;
  text-align: start !important;
  padding: 0;
  margin: 0;
}