*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
html,
body {
  height: 100%;
}

body{
  background-color: #1a1818;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
main{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1800px;
  margin: auto;
  margin-top: 13vh;
  margin-bottom: 15vh;
  width: 100vw;
}
h1{
  color: #ffffff;
  text-shadow: 0 0 1vh #fff;
  text-align: center !important;
  font-size: 2.8em;
  margin-bottom: 8%;
}
h2{
  color: #fff;
  text-shadow: 0 0 1vh #fff;
  font-size: 2.4em;
  margin-top: 4%;
  width: 100%;
  text-align: start;
  padding-left: 2%;
}
h3{
  color: #fff;
  text-shadow: 0 0 1vh #fff;
  font-size: 2.2em;
  margin-top: 8%;
  width: 100%;
  text-align: start;
  padding-left: 14%;
}

footer {
  margin-top: auto;
  width: 100vw;
  font-size: 3em;
  height: 11vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.website{
  display: block;
  background-color: #fff;
  width: 100%;
  max-width: 1800px;
  overflow: auto;
  margin: auto;
  margin-top: 5%;
  max-height: 70vh;
  padding: 2vh;
  max-height: 30vh;
}

@media screen and (min-width: 750px) {
  main{
    margin-left: 30vw;
    width: 75vw;
    max-width: 100%;
  }
  h1{
    font-size: 3.5em;
    margin-bottom: 2%;
  }
  h2{
    font-size: 3em;
  }
  h3{
    font-size: 3em;
  }
  .website{
    max-height: 45vh;
  }
}