/* esto quita el margin y el padding de todo */
*{
  margin: 0;
  padding: 0;
}
/* estos son los estilos del body */
#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body{
  background-color: #181717;
  color: #eafdcb;
  transition-duration: .5s;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}


/* estos estilos son de main */
main{
  width: 100vw;
  margin: auto;
  margin-top: 60px !important;
}
ol{
  padding: 4px;
  background-color: #111311;
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  padding-left: 25px;
}
ol li{
  white-space: pre-line !important;
}

/* estos son los estilos de los resultados de las paginas */
.website{
  display: block;
  width: 95%;
  margin: auto;
  height: 40vh;
  max-height: 350px;
  max-width: 1200px;
  overflow: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #eafdcb;
  color: #000;
  margin-top: 45px;
  margin-bottom: 45px;
}
.website h1{
  text-align: start;
}
.website h2{
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.website h3{
  margin-top: 0;
  font-size: 1em;
}
.website a{
  text-decoration: underline;
}
.website button{
  background-color: #dfdbdb;
  border: 1px solid #000;
  outline: 1px solid #000;
  color: #000 !important;
}



/* estos son los estilos de los titulos */
h1{
  text-align: center;
}
h2{
  text-align: center;
  margin-top: 15px;
  margin-left: 8px;
  margin-bottom: 15px;
  color: #c7ce68;
}
h3{
  color: #90963e;
  text-align: center;
  margin-top: 15px;
  margin-left: 8px;
  margin-bottom: 15px;
  font-size: 1.5em;
}


/* este es el "a" osea los enlaces */
a{
  text-decoration: none;
  color: #735c5c;
}
a:hover{
  text-shadow: 0 0 15px #2d2525;
}


/* este es el estilo de las paginas de proyectos */
.Page{
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  background-color: #fff;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
  position: sticky;
  overflow: auto;
}

.Page h1{
  text-align: start;
  margin-top: 0;
  color: #000 !important;
}
.Page h2{
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  color: #000 !important;
}
.Page h3{
  font-size: 1em;
  color: #000 !important;
}
.Page a{
  text-decoration: underline;
  color: #00f !important;
}
.Page p{
  color: #000 !important;
}


/* aqui el cambio de resolucion de los estilos */

@media(min-width:750px){

  /* estos son los estilos del main */
  main{
    position: relative;
    margin: auto;
    display: block;
    margin: auto;
    width: 98%;
    max-width: 1200px;
  }
  h2{
    text-align: center;
  }
  h3{
    text-align: center;
  }
}