*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #fff;
  color: #000;
  transition-duration: .5s;
  overflow-x: hidden;
}

main{
  width: 100vw;
  margin: auto;
}

@media(min-width:750px){
  main{
    margin-left: 30px;
    width: auto;
  }
}