.contentLenguaje{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90% !important;
  max-height: 1800px;
  max-width: 1800px;
  margin-top: 5%;
  box-shadow: 0 0 15px 2px rgb(61, 210, 170);
  background: linear-gradient(0deg,#000000b6,#221f1f57,#000000b6);
}

code {
  background-color: transparent !important;
}
.titleLengauje{
  margin: 0;
  margin-bottom: 0 !important;
  font-size: 1em;
  padding: 0;
  text-align: center;
}

.lenguajes{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: .8em;
  overflow: auto;
  max-height: 35vh;
  max-width: 1800px;
}


/* scroll */



.scroll::-webkit-scrollbar {
  height: .5vh;
  width: .5vw;
  background-color: #0b20bf;
  border: 15%;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #5680ea; 
  border-radius: 15vh; 
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #424242;
}

.scroll::-webkit-scrollbar-thumb:active {
  background-color: #15312b;
}




.copiarCodigo{
  position: sticky;
  top: 0;
  font-size: 1em;
  color: #3c7f6c;
  text-shadow: 0 0 3vh #3c7f6c;
  transition-duration: .5s;
  text-align: center;
  background-color: transparent;
  border: none;
}
.copiarCodigo:hover{
  color: #9efaff;
  text-shadow: 0 0 3vh #9efaff;
  transition-duration: .5s;
  opacity: 1;
}

@media(min-width:750px){
  .lenguajes{
    font-size: 1.2em;
  }
  .lenguajes button{
    font-size: 1.5em;
  }
}