.contenedor-conseptos{
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #202020;
  padding: 5px;
  width: 90%;
  display: block;
  margin: auto;
  border-radius: 5px;
  font-size: 1.2em;
}
@media(min-width:750px){
  .contenedor-conseptos{
    padding: 15px;
    width: 75%;
  }
}