.contenedor-conseptos{
  margin: auto;
  margin-top: 4vh;
  width: 90%;
  max-width: 1800px;
  margin: auto;
  overflow: auto;
}
.contenedor-conseptos p{
  color: #f9f7f7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2em;
}

.enlacesConseptos{
  color: #0ff;
  font-size: 1em;
  transition-duration: .5;
}
.enlacesConseptos:hover{
  color: rgb(197, 246, 255);
  text-shadow: 0 0 3vh #fff;
  transition-duration: .5s;
}
@media screen and (min-width: 750px){
  .contenedor-conseptos{
    margin-top: 2%;
  }
  .contenedor-conseptos p{
    font-size: 1.5em;
  }
  .enlacesConseptos{
    font-size: 1.1em;
    transition-duration: .5s;
  }
  .enlacesConseptos:hover{
    transition-duration: .5s;
  }
}